@import url(https://8font.com/blender-pro-book/);
*{
    padding: 0;
    margin: 0;
    font-family: BlenderProBook, sans-serif;
}

.fond{
    width: 100%;
    height: 100vh;
    background-clip: linear-gradient(rgba(0,0,0,0.75)),rgba(0,0,0,0.75),url(cyberpunk-video.mp4);
    background-size: cover;
    background-position: center;
}
